openapi: 3.0.1
info:
  description: Display REST API specifications
  title: Display REST API
  version: "2.0"
servers:
- description: Use this URL to request operations on display-api.
  url: https://developer.api.us.stg.walmart.com/api-proxy/service/display/api/v1/
security:
- auth_token: []
- consumer_id: []
- timestamp: []
- auth_signature: []
tags:
- name: Campaign
- name: Ad Group
- name: Targeting
- name: Itemset
- name: Forecast
- name: Ad Group Creative Associations
- name: Itemset Campaign association
- name: Catalog
- name: Creatives
- name: Folder
- name: Reports
- name: Audience
paths:
  /api/v1/campaigns:
    post:
      operationId: createCampaign
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CampaignCreateRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create Campaign
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Campaign
    put:
      operationId: updateCampaign
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CampaignUpdateRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Update Campaign
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Campaign
  /api/v1/campaigns/action:
    put:
      operationId: deliveryStatusActionOnCampaign
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CampaignActionRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignActionResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Pause/Resume/Archive/Unarchive Campaign
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Campaign
  /api/v1/campaigns/list:
    post:
      operationId: listCampaigns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignListRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              examples:
                example-1:
                  $ref: '#/components/examples/CampaignListResponse'
                  summary: Campaign List response
                  value:
                    totalResults: 1
                    response:
                    - campaignId: 1
                      campaignExtId: 1
                      name: string
                      description: string
                      objective: string
                      status: string
                      startDate: string
                      endDate: string
                      budgetType: string
                      deliverySpeed: string
                      dailyBudget: 0
                      totalBudget: 0
                      campaignType: string
                      creationDate: string
                      lastUpdatedDate: string
                      attributesSetOnAdGroupLevel: boolean
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Campaigns
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Campaign
  /api/v1/adGroups:
    post:
      operationId: createAdGroupRequest
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupCreateRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdGroupCreateUpdateResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create AdGroup
      tags:
      - Ad Group
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group
    put:
      operationId: updateAdGroupRequest
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdGroupCreateUpdateResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Update AdGroup
      tags:
      - Ad Group
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group
  /api/v1/adGroups/action:
    put:
      operationId: deliveryStatusActionOnAdGroup
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupActionRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AdGroupActionResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Pause/Resume/Archive/Unarchive AdGroup
      tags:
      - Ad Group
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group
  /api/v1/adGroups/list:
    post:
      operationId: listAdGroupRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdGroupListRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              examples:
                example-1:
                  summary: AdGroupList response with targeting sample
                  value:
                    totalResults: 1
                    response:
                    - campaignId: 1
                      adGroupId: 1
                      adGroupExtId: 1
                      name: string
                      status: string
                      startDate: string
                      endDate: string
                      budgetType: string
                      deliverySpeed: string
                      dailyBudget: 0.0
                      totalBudget: 0.0
                      rateType: string
                      frequencyCapDay: 0
                      frequencyCapWeek: 0
                      frequencyCapMonth: 0
                      baseBid: 0.0
                      maxBid: 0.0
                      targeting:
                        and:
                        - behavioral:
                          - audienceType: RETAIL
                            attribute: HISTORICAL
                            id: 1
                            name: tropicana
                            mappingType: PRODUCT_CATEGORY
                          - audienceType: RETAIL
                            attribute: HISTORICAL
                            id: 5
                            name: sprite
                            mappingType: PRODUCT_FAMILY
                        - geoTargets:
                          - id: 2
                            name: Alabama
                            locationType: STATE
                          - id: 3
                            name: Alaska
                            locationType: STATE
                          - id: 10
                            name: Abbeville
                            locationType: CITY
                          - zipCode: "35004"
                      creationDate: string
                      lastUpdatedDate: string
                      attributesSetOnAdGroupLevel: true
                      creativeRotationMode: OPTIMIZE_PERFORMANCE
              schema:
                $ref: '#/components/schemas/AdGroupListResponse'
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List AdGroup
      tags:
      - Ad Group
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group
  /api/v1/adGroupCreativeAssociations:
    post:
      operationId: addCreativeAdgroupAssociation
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CreativeAdgroupAssociationRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: Item List response success
                  value:
                  - advertiserId: 1
                    adGroupId: 1
                    creativeId: abcd-1234
                    urlTracker:
                    - adUnit: MARQUEE
                      clickUrlDesktopMWeb: https://www.test.com/search?q=test+url+desktop+mweb
                      clickUrlApp: https://www.test.com/search?q=test+url+desktop+app
                      dcmClickUrlDesktopMWeb: https://test.net
                      dcmClickUrlApp: https://test.net
                      iasClickUrlDesktopMWeb: https://test.com/abd.jpeg
                      iasClickUrlApp: https://test.com/def.jpeg
                      dvClickUrlDesktopMWeb: https://test.com/abd.jpeg
                      dvClickUrlApp: https://test.com/def.jpeg
                      desktopMWebTag: https://test.com/abc.js
                    - adUnit: GALLERY
                      clickUrlDesktopMWeb: https://www.test.com/search?q=test+url+desktop+mweb
                      clickUrlApp: https://www.test.com/search?q=test+url+desktop+app
                      dcmClickUrlDesktopMWeb: https://test.net
                      dcmClickUrlApp: https://test.net
                      iasClickUrlDesktopMWeb: https://test.com/abd.jpeg
                      iasClickUrlApp: https://test.com/def.jpeg
                      dvClickUrlDesktopMWeb: https://test.com/abd.jpeg
                      dvClickUrlApp: https://test.com/def.jpeg
                      desktopMWebTag: https://test.com/abc.js
              schema:
                items:
                  $ref: '#/components/schemas/CreativeAdGroupAssociationResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Add Adgroup Creative Association
      tags:
      - Ad Group Creative Associations
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group Creative Associations
    put:
      operationId: editCreativeAdgroupAssociation
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Item List response success
                value:
                - advertiserId: 1
                  adGroupId: 1
                  creativeId: abcd-1234
                  urlTracker:
                  - adUnit: MARQUEE
                    clickUrlDesktopMWeb: https://www.test.com/search?q=test+url+desktop+mweb
                    clickUrlApp: https://www.test.com/search?q=test+url+desktop+app
                    dcmClickUrlDesktopMWeb: https://test.net
                    dcmClickUrlApp: https://test.net
                    iasClickUrlDesktopMWeb: https://test.com/abd.jpeg
                    iasClickUrlApp: https://test.com/def.jpeg
                    dvClickUrlDesktopMWeb: https://test.com/abd.jpeg
                    dvClickUrlApp: https://test.com/def.jpeg
                    desktopMWebTag: https://test.com/abc.js
                  - adUnit: GALLERY
                    clickUrlDesktopMWeb: https://www.test.com/search?q=test+url+desktop+mweb
                    clickUrlApp: https://www.test.com/search?q=test+url+desktop+app
                    dcmClickUrlDesktopMWeb: https://test.net
                    dcmClickUrlApp: https://test.net
                    iasClickUrlDesktopMWeb: https://test.com/abd.jpeg
                    iasClickUrlApp: https://test.com/def.jpeg
                    dvClickUrlDesktopMWeb: https://test.com/abd.jpeg
                    dvClickUrlApp: https://test.com/def.jpeg
                    desktopMWebTag: https://test.com/abc.js
            schema:
              items:
                $ref: '#/components/schemas/CreativeAdgroupAssociationRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeAdGroupAssociationResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Edit Adgroup Creative Association
      tags:
      - Ad Group Creative Associations
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group Creative Associations
  /api/v1/adGroupCreativeAssociations/list:
    post:
      operationId: listCreativeAdGroupAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeAdgroupAssociationGetRequest'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreativeAdGroupAssociationListResponse'
          description: OK
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Creative Association
      tags:
      - Ad Group Creative Associations
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: Ad Group Creative Associations
  /api/v1/adGroupCreativeAssociations/delete:
    post:
      operationId: deleteCreativeAdgroupAssociation
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CreativeAdGroupAssociationDeleteRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeAdGroupAssociationResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Remove Adgroup Creative Association
      tags:
      - Ad Group Creative Associations
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Ad Group Creative Associations
  /api/v1/creatives:
    post:
      operationId: createCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeMetadataDto'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/{creativeId}/preview/{adUnitName}:
    post:
      operationId: getCreativePreviewForAdUnit
      parameters:
      - in: path
        name: creativeId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: adUnitName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewAdUnitRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get Creative Preview for AdUnit
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: image/jpeg
      x-tags:
      - tag: Creatives
  /api/v1/creatives/submit:
    post:
      operationId: submitCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWithCreativeIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeStateIdResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Submit Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/submit/status:
    post:
      operationId: getCreativeSubmitStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeStateIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Check status of submitted creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/preview:
    post:
      operationId: previewCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWithCreativeIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeStateIdResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Preview Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/previews:
    post:
      operationId: listCreativePreviews
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewAdUnitRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativePreviewsListResp'
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Creative Previews
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/preview/status:
    post:
      operationId: getCreativePreviewStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeStateIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Check status of creative preview
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/metadata:
    post:
      operationId: getCreativeMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWithCreativeIdRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreativeMetadataResponse'
          description: Returns creative metadata
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get metadata for a creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: Creatives
  /api/v1/creatives/list:
    post:
      operationId: listCreatives
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeListRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeListResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Creatives
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/delete:
    post:
      operationId: deleteCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWithCreativeIdRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "204":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Delete Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/clone:
    post:
      operationId: cloneCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneCreativeRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Clone Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/{creativeId}:
    patch:
      operationId: patchCreative
      parameters:
      - in: path
        name: creativeId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCreativeMetadataDto'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Patch Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
    put:
      operationId: updateCreative
      parameters:
      - in: path
        name: creativeId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCreativeMetadataDto'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Update Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/restore:
    put:
      operationId: restoreCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWithCreativeIdRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Restore Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/move:
    put:
      operationId: moveCreative
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeMoveUpdateRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Move Creative
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/creatives/comments/resolve:
    put:
      operationId: resolveCreativeComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeWithCommentIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreativeResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Resolve Creative Comment
      tags:
      - Creatives
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/assets/photo:
    post:
      operationId: createPhotoAssets
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetPhotoCreateRequest'
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetPhotoCreateResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create Photo Assets
      tags:
      - Creatives
      x-content-type: multipart/form-data
      x-accepts: application/json
      x-tags:
      - tag: Creatives
  /api/v1/folders:
    post:
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create Folder
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/folders/list:
    post:
      operationId: listFolders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderListRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderListResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Folders
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/folders/delete:
    post:
      operationId: deleteFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderWithFolderIdRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "204":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Delete Folder
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/folders/clone:
    post:
      operationId: cloneFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderWithFolderIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Clone Folder
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/folders/{folderId}:
    put:
      operationId: updateFolder
      parameters:
      - in: path
        name: folderId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Update Folder
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/folders/restore:
    put:
      operationId: restoreFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderWithFolderIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Restore Folder
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/folders/move:
    put:
      operationId: moveFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderMoveUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FolderResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Move Folder
      tags:
      - Folder
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Folder
  /api/v1/reachEstimate:
    post:
      operationId: reachEstimate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReachEstimateRequestModel'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          description: successful operation
        "500":
          content:
            application/json:
              examples:
                example1:
                  summary: Item List response success
                  value:
                    advertiserId: 1
                    campaignId: 979
                    adGroupId: 238
                    metric:
                    - impressions
                    startDate: 2024-06-27T00:00:00Z
                    endDate: 2024-12-30T23:59:59Z
                    targeting:
                      and:
                      - runOfSite: true
                      - geoTargets:
                        - id: 247796189
                    maxBid: 10
                    baseBid: 2
                    frequencyCapDay: 50
                    frequencyCapWeek: 50
                    frequencyCapMonth: 50
                    dailyBudget: 100
                    totalBudget: 100
                    deliverySpeed: string
              schema:
                items:
                  $ref: '#/components/schemas/ReachEstimateResponseModal'
                type: array
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Reach Estimate
      tags:
      - Forecast
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Forecast
  /api/v1/deliveryEstimate:
    post:
      operationId: deliveryEstimate
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Item List response success
                value:
                  advertiserId: 16273802
                  campaignId: 90279
                  adGroupId: 219338
                  metric:
                  - impressions
                  startDate: 2024-06-27T00:00:00Z
                  endDate: 2024-12-30T23:59:59Z
                  targeting:
                    and:
                    - runOfSite: true
                    - geoTargets:
                      - id: 247796189
                  maxBid: 10
                  baseBid: 2
                  frequencyCapDay: 50
                  frequencyCapWeek: 50
                  frequencyCapMonth: 50
                  dailyBudget: 100
                  totalBudget: 100
                  deliverySpeed: string
            schema:
              $ref: '#/components/schemas/DeliveryEstimateRequestModel'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReachEstimateResponseModal'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Delivery Estimate
      tags:
      - Forecast
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Forecast
  /api/v1/keywords/list:
    post:
      operationId: listKeywordTargeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeywordTargetingRequestModel'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordTargetingResponseModel'
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List KeywordTargeting
      tags:
      - Targeting
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Targeting
  /api/v1/geoLocations/list:
    post:
      operationId: listGeoTargeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoTargetingRequestModel'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoTargetingResponseModel'
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List GeoTargeting
      tags:
      - Targeting
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Targeting
  /api/v1/targeting/list:
    post:
      operationId: listTargeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetingRequestModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetingResponseModel'
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Targeting
      tags:
      - Targeting
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Targeting
  /api/v2/targeting/list:
    post:
      operationId: listTargetingV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetingRequestModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: "Targeting List V2 With Filter[tactic] : behavioral"
                  value:
                    totalResults: 1
                    behavioral:
                    - id: 1
                      name: bagels
                      taxonPath: food
                      isDisabled: true
                      audienceType: RETAIL
                      attribute: HISTORICAL
                example2:
                  summary: "Targeting List V2 With Filter[tactic] : contextual"
                  value:
                    totalResults: 3
                    contextual:
                    - id: 1
                      name: food & beverages
                      taxonPath: food & beverages
                      reach: []
                      isDisabled: false
                    - id: 2
                      name: bakery
                      taxonPath: food & beverages|bakery
                      reach: []
                      isDisabled: true
                    - id: 3
                      name: cakes
                      taxonPath: food & beverages|bakery|cakes
                      reach:
                      - TIER_1
                      - TIER_2
                      - TIER_3
                      - TIER_4
                      - TIER_5
                      - TIER_6
                      - TIER_7
                      isDisabled: false
              schema:
                $ref: '#/components/schemas/TargetingResponseModelV2'
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Targeting V2
      tags:
      - Targeting
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Targeting
  /api/v1/itemsetAssociation:
    post:
      operationId: addOrRemoveItemsetCampaignAssociation
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ItemSetAssociationRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ItemSetAssociationResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Add/Remove Itemset to Campaign
      tags:
      - Itemset Campaign association
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset Campaign association
  /api/v1/itemsetAssociations/list:
    post:
      operationId: listItemsetCampaignAssociations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsetAssociationListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ItemsetAssociationListResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Add ItemSet to Campaign
      tags:
      - Itemset Campaign association
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset Campaign association
  /api/v1/itemset:
    post:
      operationId: createItemset
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Create Itemset request with Brand list
                value:
                - advertiserId: 12345
                  name: dummy itemset name
                  description: created dummy itemset
                  type: BRAND
                  class: MEASUREMENT
                  brands:
                  - gerber
                  - onesies
              example2:
                summary: Create Itemset request with Item list
                value:
                - advertiserId: 12345
                  name: dummy itemset name
                  description: created dummy itemset
                  type: ITEM
                  class: TARGETING
                  items:
                  - id: "77898"
                    itemType: STORES
                  - id: "88976"
                    itemType: ONLINE
              example3:
                summary: Create Itemset request with Brand Type Expression
                value:
                - advertiserId: 12345
                  name: dummy itemset name
                  description: created dummy itemset
                  type: BRAND
                  class: TARGETING
                  expression:
                    or:
                    - type: brand
                      value:
                        name: gerber
                    - type: brand
                      value:
                        name: onesies
              example4:
                summary: Create Itemset request with Category Type Expression
                value:
                - advertiserId: 12345
                  name: dummy itemset name
                  description: created dummy itemset
                  type: CATEGORY
                  class: TARGETING
                  expression:
                    or:
                    - type: category
                      value:
                        name: "Cameras, Photography & Optics"
                        attributes:
                        - type: age_group
                          values:
                          - Infant
                          - toddler
                        - type: skin_type
                          values:
                          - all
                          - sensitive
                    - type: category
                      value:
                        name: Toys & Games
                        level: 1
              example5:
                summary: Create Itemset request with Items Type Expression
                value:
                - advertiserId: 12345
                  name: dummy itemset name
                  description: created dummy itemset
                  type: ITEM
                  class: MEASUREMENT
                  expression:
                    or:
                    - type: item
                      value:
                        itemId: "226794098"
                        itemType: STORES
                    - type: item
                      value:
                        itemId: "457099354"
                        itemType: ONLINE
              example6:
                summary: Create Itemset request with Hybrid Type Expression
                value:
                - advertiserId: 12345
                  name: dummy itemset name
                  description: created dummy itemset
                  type: HYBRID
                  class: TARGETING
                  expression:
                    or:
                    - type: item
                      value:
                        itemId: "226794098"
                        itemType: STORES
                    - type: brand
                      value:
                        name: gerber
                    - type: category
                      value:
                        name: "Cameras, Photography & Optics"
                        attributes:
                        - type: age_group
                          values:
                          - Infant
                          - toddler
                        - type: skin_type
                          values:
                          - all
                          - sensitive
            schema:
              items:
                $ref: '#/components/schemas/ItemsetCreateRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ItemsetResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create an Itemset
      tags:
      - Itemset
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset
    put:
      operationId: updateItemset
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Update Itemset request with Brand list
                value:
                - advertiserId: 12345
                  itemsetId: 44556677
                  name: dummy itemset name
                  description: created dummy itemset
                  type: BRAND
                  brands:
                  - gerber
                  - onesies
              example2:
                summary: Update Itemset request with Item list
                value:
                - advertiserId: 12345
                  itemsetId: 44556677
                  name: dummy itemset name
                  description: created dummy itemset
                  type: ITEM
                  items:
                  - id: "77898"
                    itemType: STORES
                  - id: "88976"
                    itemType: ONLINE
              example3:
                summary: Update Itemset request with Brand Type Expression
                value:
                - advertiserId: 12345
                  itemsetId: 44556677
                  name: dummy itemset name
                  description: created dummy itemset
                  type: BRAND
                  expression:
                    or:
                    - type: brand
                      value:
                        name: gerber
                    - type: brand
                      value:
                        name: onesies
              example4:
                summary: Update Itemset request with Category Type Expression
                value:
                - advertiserId: 12345
                  itemsetId: 44556677
                  name: dummy itemset name
                  description: created dummy itemset
                  type: CATEGORY
                  expression:
                    or:
                    - type: category
                      value:
                        name: "Cameras, Photography & Optics"
                        attributes:
                        - type: age_group
                          values:
                          - Infant
                          - toddler
                        - type: skin_type
                          values:
                          - all
                          - sensitive
                    - type: category
                      value:
                        name: Toys & Games
                        level: 1
              example5:
                summary: Update Itemset request with Items Type Expression
                value:
                - advertiserId: 12345
                  itemsetId: 44556677
                  name: dummy itemset name
                  description: created dummy itemset
                  type: ITEM
                  class: TARGETING
                  expression:
                    or:
                    - type: item
                      value:
                        itemId: "226794098"
                        itemType: STORES
                    - type: item
                      value:
                        itemId: "457099354"
                        itemType: ONLINE
              example6:
                summary: Update Itemset request with Hybrid Type Expression
                value:
                - advertiserId: 12345
                  itemsetId: 44556677
                  name: dummy itemset name
                  description: created dummy itemset
                  type: HYBRID
                  expression:
                    or:
                    - type: item
                      value:
                        itemId: "226794098"
                        itemType: STORES
                    - type: brand
                      value:
                        name: gerber
                    - type: category
                      value:
                        name: "Cameras, Photography & Optics"
                        attributes:
                        - type: age_group
                          values:
                          - Infant
                          - toddler
                        - type: skin_type
                          values:
                          - all
                          - sensitive
            schema:
              items:
                $ref: '#/components/schemas/ItemsetUpdateRequest'
              type: array
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ItemsetResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Update an Itemset
      tags:
      - Itemset
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset
  /api/v1/itemset/info:
    post:
      operationId: listItemsAndBrandsOfItemset
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Itemset info request
                value:
                  advertiserId: 12345
                  Filter[itemsetId]: 445566
                  startIndex: 0
                  count: 20
                  showItems: true
            schema:
              $ref: '#/components/schemas/ItemsetInfoRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: Itemset info response for brand itemset
                  value:
                    code: success
                    itemsetId: 44556677
                    totalResults: 4
                    brands:
                    - name: gerber
                    - name: onesies
                    - name: lays
                    - name: jergens
                example2:
                  summary: Itemset info response for brand itemset having showItems
                    as True or other itemset type
                  value:
                    code: success
                    itemsetId: 334455
                    totalResults: 2
                    items:
                    - name: Play Day Activity Desk
                      gtin: "45345345"
                    - name: "Fresh Food Concepts Cheddar Bacon Dip, 12 Oz."
                      gtin: "45345344"
              schema:
                items:
                  $ref: '#/components/schemas/ItemsetInfoResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Items and Brands of an Itemsets
      tags:
      - Itemset
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset
  /api/v1/itemset/expression:
    post:
      operationId: itemsetExpressionInfo
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Itemset expression info request
                value:
                  advertiserId: 123456
                  Filter[itemsetId]: 44556677
            schema:
              $ref: '#/components/schemas/ItemsetExpressionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: Itemset expression info response
                  value:
                    code: success
                    expression:
                      or:
                      - type: CATEGORY
                        value:
                          name: "Cameras, Photography & Optics"
                          attributes:
                          - type: age_group
                            values:
                            - Infant
                            - toddler
                          - type: skin_type
                            values:
                            - all
                            - sensitive
                            - testing-1202025-004
                      - type: BRAND
                        value:
                          name: gerber
                      - type: ITEMSET
                        value:
                          id: 44556678
                          version: 2027-11-21_052749
                    itemsetId: 44556677
              schema:
                items:
                  $ref: '#/components/schemas/ItemsetExpressionResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Itemset Expression
      tags:
      - Itemset
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset
  /api/v1/itemsets/list:
    post:
      operationId: listItemsetsMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsetListRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: Itemset List response with built status
                  value:
                    code: success
                    totalResults: 1
                    itemsets:
                    - itemsetId: 234
                      name: string
                      status: BUILT
                      class: MEASUREMENT
                      editable: "true"
                      creationDate: string
                      lastUpdatedDate: string
                      description: string
                      source: INTERNAL
              schema:
                items:
                  $ref: '#/components/schemas/ItemsetListResponse'
                type: array
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Advertiser Owned Itemsets Metadata
      tags:
      - Itemset
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Itemset
  /api/v1/snapshot/report:
    post:
      operationId: createReportAPIRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportAPIRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResponse'
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Submit Report Snapshot Request
      tags:
      - Reports
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Reports
  /api/v1/snapshot/entity:
    post:
      operationId: createEntityAPIRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityAPIRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResponse'
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Submit Entity Snapshot Request
      tags:
      - Reports
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Reports
  /api/v1/snapshot:
    get:
      operationId: getAPIRequest
      parameters:
      - description: Advertiser Id
        in: query
        name: advertiserId
        required: true
        schema:
          format: int64
          type: integer
      - description: Snapshot Id
        in: query
        name: snapshotId
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Invalid id supplied
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResponse'
          description: successful operation
        "404":
          description: API Request not found
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get the snapshot by Snapshot Id
      tags:
      - Reports
      x-accepts: application/json
      x-tags:
      - tag: Reports
  /api/v1/latestReportDate:
    get:
      operationId: getLatestReportAvailability
      parameters:
      - description: Advertiser Id
        in: query
        name: advertiserId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LatestUpdatedDateResponse'
          description: OK
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get Latest Report Availability Date
      tags:
      - Reports
      x-accepts: '*/*'
      x-tags:
      - tag: Reports
  /api/v1/items/list:
    post:
      description: |
        This request to get the list of items available to user to build an itemset through an API.
      operationId: getItemList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemListRequest'
        required: true
      responses:
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: Item List response success
                  value:
                    code: success
                    totalResults: 1
                    data:
                    - itemId: 13323
                      catalog: ONLINE
                      gtin: "0005"
                      itemName: itemName
                      imageUrl: https://walmartimages.com/
                      itemPageUrl: https://www.walmart.com/
                      brandName: Books
                      department: Books
                      category: Books
                      subCategory: Books
              schema:
                items:
                  $ref: '#/components/schemas/ItemListResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get List Of Items
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Catalog
  /api/v1/brand/list:
    post:
      description: |
        This request to get the list of brands available to user through an API.
      operationId: listBrand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandListRequest'
        required: true
      responses:
        "500":
          description: Internal Error
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BrandListResponse'
                type: array
          description: successful operation
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get List Of Brands
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Catalog
  /api/v1/taxonomies/list:
    post:
      description: This request to get the list of taxonomies available to user through
        an API.
      operationId: getTaxonomiesList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxonomiesRequest'
        required: true
      responses:
        "500":
          description: Internal Error
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: Taxonomies List level- 1
                  value:
                    code: success
                    totalResults: 26
                    data:
                    - level: 1
                      name: Tools
                      attributes:
                        type: skin_color
                        values:
                        - value: good
                          count: 1
                        - value: bad
                          count: 3
                      itemCount: 290
                    - level: 1
                      name: Electronics
                      itemCount: 70
                    - level: 1
                      name: Vehicles
                      itemCount: 55
                example2:
                  summary: Taxonomies List level- 2
                  value:
                    code: success
                    totalResults: 60
                    data:
                    - level: 1
                      name: Office & Stationery
                      attributes:
                        type: age_number
                        values:
                        - value: ' old'
                          count: 2
                        - value: young
                          count: 12
                      taxonomies:
                        level: 2
                        name: Tape & Adhesives
                        attributes:
                          type: age_number
                          values:
                          - value: ' old'
                            count: 2
                          - value: young
                            count: 12
                        itemCount: 986
                    - level: 1
                      name: Office & Stationery
                      taxonomies:
                        level: 2
                        name: Filing & Storage
                        itemCount: 138
                    - level: 1
                      name: Office & Stationery
                      taxonomies:
                        level: 2
                        name: Desk Accessories
                        itemCount: 323
                example3:
                  summary: Taxonomies List level- 3
                  value:
                    code: success
                    totalResults: 2
                    data:
                    - level: 1
                      name: "Clothing, Shoes & Accessories"
                      attributes:
                        type: height_type
                        values:
                        - value: ' short'
                          count: 2
                      taxonomies:
                        level: 2
                        name: Carried Fashion Accessories
                        attributes:
                          type: height_type
                          values:
                          - value: ' short'
                            count: 2
                        taxonomies:
                          level: 3
                          name: Handbags
                          attributes:
                            type: height_type
                            values:
                            - value: ' short'
                              count: 2
                          itemCount: 168
                    - level: 1
                      name: "Clothing, Shoes & Accessories"
                      taxonomies:
                        level: 2
                        name: Carried Fashion Accessories
                        taxonomies:
                          level: 3
                          name: Keychains
                          itemCount: 152
                example4:
                  summary: Taxonomies List category and Level =1 response
                  value:
                    code: success
                    totalResults: 1546
                    data:
                    - level: 1
                      name: x
                      itemCount: 247628
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomiesResponse'
                type: array
          description: successful operation
        "400":
          description: Invalid request parameters supplied
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Get List Of Taxonomies
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Catalog
  /api/v1/audiences/list:
    post:
      operationId: listAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceListRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              examples:
                example1:
                  summary: List Audience Response - rule based
                  value:
                    totalResults: 1
                    response:
                    - audienceId: 1004116999
                      audienceType: CUSTOM
                      attribute: RULE_BASED
                      name: partner-audience-creation-test
                      status: IN_PROGRESS
                      creationDate: 2025-02-08T06:18:22.394Z
                      lastUpdatedDate: 2025-02-08T06:18:40.739Z
                      statusDescription: Audience build and data upload are in progress
                      description: Audience build and data upload are in progress
                      source: WMC
                      audienceDefinition:
                        audienceCriteria:
                          include:
                            purchaseCriteria:
                              purchaseStartOffsetDays: 182
                              purchaseEndOffsetDays: 0
                              purchaseChannel: OMNI
                              purchaseFrequency: 1
                              itemsetIds:
                              - 10000063
                            browseCriteria:
                              userActivityType: BROWSE
                              userActivityStartOffsetDays: 182
                              userActivityEndOffsetDays: 0
                              userActivityPlatforms:
                              - BROWSER
                              userActivityFrequency: 1
                              itemsetIds:
                              - 10000063
                          exclude:
                            purchaseCriteria:
                              purchaseStartOffsetDays: 182
                              purchaseEndOffsetDays: 0
                              purchaseChannel: ONLINE
                              purchaseFrequency: 1
                              itemsetIds:
                              - 14021736
                            browseCriteria:
                              userActivityType: SEARCH
                              userActivityStartOffsetDays: 182
                              userActivityEndOffsetDays: 0
                              userActivityPlatforms:
                              - BROWSER
                              userActivityFrequency: 1
                              itemsetIds:
                              - 14021736
                      audienceObjective:
                      - REACH
                      audienceObjectiveText: dummy
                example2:
                  summary: List Audience Response - item propensity
                  value:
                    totalResults: 2
                    response:
                    - audienceId: 1004116459
                      audienceType: CUSTOM
                      attribute: ITEM_PROPENSITY
                      name: test
                      status: IN_PROGRESS
                      creationDate: 2025-02-08T06:18:22.394Z
                      lastUpdatedDate: 2025-02-08T06:18:40.739Z
                      statusDescription: Audience build and data upload are in progress
                      description: Audience build and data upload are in progress
                      source: WMC
                      audienceDefinition:
                        audienceCriteria:
                          propensityCriteria:
                            strategy: PROMOTE_SEASONAL_PRODUCTS
                            taxonomies:
                            - subCategory:
                                name: Baby Car Seat Back Protectors
                              category:
                                name: Baby Car Seat Accessories
                              department:
                                name: Baby
                            - subCategory:
                                name: Baby Car Seat Back Protectors
                              category:
                                name: Baby Car Seat Accessories
                              department:
                                name: Baby
                      audienceObjective:
                      - REACH
                      audienceObjectiveText: dummy
                    - audienceId: 1004116446
                      audienceType: CUSTOM
                      attribute: ITEM_PROPENSITY
                      name: test
                      status: IN_PROGRESS
                      creationDate: 2025-02-08T06:18:22.394Z
                      lastUpdatedDate: 2025-02-08T06:18:40.739Z
                      statusDescription: Audience build and data upload are in progress
                      description: Audience build and data upload are in progress
                      source: WMC
                      audienceDefinition:
                        audienceCriteria:
                          propensityCriteria:
                            strategy: PROMOTE_SEASONAL_PRODUCTS
                            itemsetIds:
                            - 14021736
                      audienceObjective:
                      - REACH
                      audienceObjectiveText: dummy
              schema:
                $ref: '#/components/schemas/AudienceListResponse'
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: List Audiences
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Audience
  /api/v1/audiences:
    post:
      operationId: createAudience
      requestBody:
        content:
          application/json:
            examples:
              example1:
                summary: Create Audience Request - rule based
                value:
                  name: rb5
                  description: dsfsd
                  advertiserId: 16273800
                  audienceType: BRAND
                  audienceObjective:
                  - REACH
                  - OTHER
                  audienceObjectiveText: ghjjggjh
                  audienceDefinition:
                    audienceCriteria:
                      include:
                        purchaseCriteria:
                          purchaseStartOffsetDays: 182
                          purchaseEndOffsetDays: 0
                          purchaseChannel: ONLINE
                          purchaseFrequency: 1
                          itemsetIds:
                          - 14021736
                        browseCriteria:
                          userActivityType: SEARCH
                          userActivityStartOffsetDays: 182
                          userActivityEndOffsetDays: 0
                          userActivityPlatforms:
                          - BROWSER
                          userActivityFrequency: 1
                          itemsetIds:
                          - 14021736
                      exclude:
                        purchaseCriteria:
                          purchaseStartOffsetDays: 182
                          purchaseEndOffsetDays: 0
                          purchaseChannel: ACC
                          purchaseFrequency: 1
                          itemsetIds:
                          - 14021736
                        browseCriteria:
                          userActivityType: BROWSE
                          userActivityStartOffsetDays: 182
                          userActivityEndOffsetDays: 0
                          userActivityPlatforms:
                          - IN_APP
                          userActivityFrequency: 1
                          itemsetIds:
                          - 14021736
                      demographics:
                        gender:
                        - M
                        - F
                        ageRange:
                        - min: 35
                          max: 65
                        - min: 20
                          max: -1
                        income:
                        - A
                        - B
                      geoTargets:
                      - id: 48010893
                      - zipcode: "01001"
                  attribute: RULE_BASED
              example2:
                summary: Create Audience Request - item propensity
                value:
                  name: sadadsads
                  description: dcsdfc
                  advertiserId: 16273800
                  audienceType: CUSTOM
                  audienceObjective:
                  - REACH
                  audienceObjectiveText: ""
                  audienceDefinition:
                    audienceCriteria:
                      propensityCriteria:
                        strategy: PROMOTE_SEASONAL_PRODUCTS
                        taxonomies:
                        - taxonomyType: PT
                          subCategory:
                            name: Baby Car Seat Back Protectors
                          category:
                            name: Baby Car Seat Accessories
                          department:
                            name: Baby
                        - taxonomyType: PT
                          subCategory:
                            name: Baby Car Seat Back Protectors
                          category:
                            name: Baby Car Seat Accessories
                          department:
                            name: Baby
                  attribute: ITEM_PROPENSITY
            schema:
              $ref: '#/components/schemas/AudienceCreateRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Create Audience
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Audience
    put:
      operationId: updateAudience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceUpdateRequest'
        required: true
      responses:
        "400":
          description: Invalid request parameters supplied
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
          description: successful operation
        "500":
          description: Internal Error
      security:
      - auth_signature: []
        consumer_id: []
        auth_token: []
        timestamp: []
      summary: Update Audience
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Audience
components:
  examples:
    CampaignListResponse:
      value: null
  schemas:
    CampaignUpdateRequest:
      properties:
        advertiserId:
          format: int64
          type: integer
        campaignId:
          format: int64
          type: integer
        name:
          type: string
        description:
          type: string
        objective:
          enum:
          - AWARENESS
          - ENGAGEMENT
          - CONVERSION
          - DEFAULT
          type: string
        campaignType:
          enum:
          - NGD
          type: string
        startDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        endDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        budgetType:
          description: Enum
          enum:
          - DAILY
          - TOTAL
          type: string
        dailyBudget:
          format: double
          type: number
        totalBudget:
          format: double
          type: number
        deliverySpeed:
          enum:
          - FRONTLOADED
          - EVENLY
          type: string
      required:
      - advertiserId
      - campaignId
      - name
      type: object
    CampaignResponse:
      properties:
        code:
          enum:
          - success
          - failure
          - pending
          type: string
        campaignId:
          format: int64
          type: integer
        details:
          items:
            type: string
          type: array
      type: object
    CampaignCreateRequest:
      properties:
        advertiserId:
          format: int64
          type: integer
        name:
          type: string
        description:
          type: string
        objective:
          default: AWARENESS
          enum:
          - AWARENESS
          - ENGAGEMENT
          - CONVERSION
          type: string
        campaignType:
          enum:
          - NGD
          type: string
        startDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        endDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        budgetType:
          enum:
          - DAILY
          - TOTAL
          type: string
        dailyBudget:
          format: double
          type: number
        totalBudget:
          format: double
          type: number
        deliverySpeed:
          enum:
          - FRONTLOADED
          - EVENLY
          type: string
      required:
      - advertiserId
      - name
      type: object
    CampaignActionRequest:
      properties:
        advertiserId:
          format: int64
          type: integer
        action:
          enum:
          - PAUSE
          - RESUME
          - ARCHIVE
          - UNARCHIVE
          type: string
        campaignId:
          format: int64
          type: integer
      required:
      - advertiserId
      - campaignId
      type: object
    CampaignActionResponse:
      properties:
        code:
          enum:
          - success
          - failure
          - pending
          type: string
        campaignId:
          format: int64
          type: integer
        details:
          items:
            type: string
          type: array
      type: object
    CampaignListRequest:
      properties:
        advertiserId:
          format: int64
          type: integer
        startIndex:
          description: return the first ten Campaigns set startIndex=0
          format: int32
          type: integer
        count:
          description: "to return the first ten Campaigns set startIndex=0 and defaultCount=100,\
            \ maxCount=100, minCount=1"
          format: int32
          type: integer
        Filter[campaignId]:
          description: Max List size is 25
          items:
            format: int64
            type: integer
          type: array
        Filter[status]:
          enum:
          - DRAFT
          - LIVE
          - SCHEDULED
          - PAUSED
          - COMPLETED
          - ARCHIVED
          type: string
        Filter[name]:
          items:
            type: string
          type: array
        Filter[lastModifiedDate]:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
      required:
      - advertiserId
      type: object
    AdGroupRequest:
      properties:
        advertiserId:
          format: int64
          type: integer
          writeOnly: true
        campaignId:
          format: int64
          type: integer
        adGroupId:
          format: int64
          type: integer
        adGroupExtId:
          format: int64
          readOnly: true
          type: integer
        name:
          type: string
        status:
          type: string
        startDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        endDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        budgetType:
          type: string
        dailyBudget:
          format: double
          type: number
        totalBudget:
          format: double
          type: number
        rateType:
          enum:
          - CPM
          type: string
        deliverySpeed:
          enum:
          - FRONTLOADED
          - EVENLY
          type: string
        creativeRotationMode:
          enum:
          - OPTIMIZE_PERFORMANCE
          - ROTATE_EVENLY
          type: string
        frequencyCapDay:
          format: int32
          type: integer
        frequencyCapWeek:
          format: int32
          type: integer
        frequencyCapMonth:
          format: int32
          type: integer
        baseBid:
          format: double
          type: number
        maxBid:
          format: double
          type: number
        creationDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          readOnly: true
          type: string
        lastUpdatedDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          readOnly: true
          type: string
        targeting:
          $ref: '#/components/schemas/LogicalExpression'
      required:
      - adGroupId
      - advertiserId
      - campaignId
      - name
      type: object
    AdGroupCreateUpdateResponse:
      properties:
        code:
          enum:
          - success
          - failure
          - pending
          type: string
        adGroupId:
          format: int64
          type: integer
        details:
          items:
            type: string
          type: array
      type: object
    AdGroupCreateRequest:
      properties:
        campaignId:
          format: int64
          type: integer
        advertiserId:
          format: int64
          type: integer
          writeOnly: true
        adGroupExtId:
          format: int64
          readOnly: true
          type: integer
        name:
          type: string
        status:
          type: string
        startDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        endDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          type: string
        budgetType:
          type: string
        dailyBudget:
          format: double
          type: number
        totalBudget:
          format: double
          type: number
        rateType:
          enum:
          - CPM
          type: string
        deliverySpeed:
          enum:
          - FRONTLOADED
          - EVENLY
          type: string
        creativeRotationMode:
          enum:
          - OPTIMIZE_PERFORMANCE
          - ROTATE_EVENLY
          type: string
        frequencyCapDay:
          format: int32
          type: integer
        frequencyCapWeek:
          format: int32
          type: integer
        frequencyCapMonth:
          format: int32
          type: integer
        baseBid:
          format: double
          type: number
        maxBid:
          format: double
          type: number
        creationDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          readOnly: true
          type: string
        lastUpdatedDate:
          description: "ISO 8601 timezone format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          format: date-time
          readOnly: true
          type: string
        targeting:
          $ref: '#/components/schemas/LogicalExpression'
      required:
      - advertiserId
      - campaignId
      - name
      type: object
    AdGroupActionRequest:
      properties:
        advertiserId:
          format: int64
          type: integer
        action:
          enum:
          - PAUSE
          - RESUME
          - ARCHIVE
          - UNARCHIVE
          type: string
        adGroupId:
          format: int64
          type: integer
      required:
      - advertiserId
      type: object
    AdGroupActionResponse:
      properties:
        code:
          enum:
          - success
          - failure
          - pending
          type: string
        adGroupId:
          format: int64
          type: integer
        details:
          items:
            type: string
          type: array
[...]
